{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "indent": "warn",
    "no-tabs": "off",
    "func-names": 0,
    "id-length": 0,
    "new-cap": 0,
    "no-console": 0,
    "newline-before-return": "error",
    "space-before-blocks": "error",
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "no-trailing-spaces": 0,
    "no-plusplus": 0,
    "prefer-arrow-callback": 0,
    "consistent-return": "off",
    "linebreak-style": 0,
    "no-param-reassign": "off",
    "no-unused-expressions": "off",
    "radix": "off"
  }
}
